/* NavBar.css */
  
  .nav-links-left {
    margin-left: 10px;
    margin: 15px 5%;
    border-bottom: 1px solid #d3d3d3;
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    align-items: center;
    
  }

  .nav-links-left img{
    margin-right: 25px;

  }
  .bandeira{
    width: 25px;
    height: 20px;
  }
  .icone {
    width: 20px;
    height: 20px;
  }
  .nav-links-left-secondary a{
    padding-right: 20px;

  }

  
  .nav-links-left a {
    text-decoration: none;
    color: #000000;
    margin-right: 10px;
    font-size: 16px;
    font-weight: 600;
  }

  .nav-links-right{
    display: flex;
    justify-content: space-between;
    margin: 10px 2%;
    align-items:center;

  }
  
  .nav-links-right a {
    text-decoration: none;
    margin-left: 10px;
  }
  .nav-links-right-primary a{
    color: #000000;
    font-weight: 600;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    padding: 0 10px;
    margin: 0 20px;
  }

  .nav-links-right button{
    background-color: #FF5B27;
    border-radius: 10px;
    border: 2px solid #FF5B27;
    width: 324px;
    height: 41px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    
  }
  .nav-links-right button a{
    color: #FFFFFF;
  }
  .logo{
    width: 176px;
    height: 36px;
  }