/* Estilos para o contêiner do formulário */
.form-container {
    max-width: 800px;
    margin-left:25%;
    margin-top: 10%;
    padding: 20px;
    /*background-color: #f7f7f7;*/
    background-image: url('https://img.freepik.com/fotos-gratis/tiro-medio-retrato-de-engenheiro-construcao-segurando-contrato_23-2148233719.jpg?w=1380&t=st=1696175330~exp=1696175930~hmac=6a99fc038a79c3ffa0036048a311c04f28d3839828a18dd89d9e5f53c93f495c');
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilos para o título do formulário */
  .register h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    margin-left: 10%;
  }
  
  /* Estilos para os campos de entrada */
  .form-container input {
    width: 50%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  /* Estilos para o botão de envio */
  .form-container button {
    width: 50%;
    padding: 10px;
    background-color: #006400;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  /* Estilos para o botão de envio quando estiver passando o mouse */
  .form-container button:hover {
    background-color: #0056b3;
  }
  
  /* Estilos para mensagens de sucesso */
  .success-message {
    text-align: center;
    color: #00a000;
    font-size: 18px;
    margin-top: 10px;
  }
  
  /* Estilos para mensagens de erro */
  .error-message {
    text-align: center;
    color: #ff0000;
    font-size: 18px;
    margin-top: 10px;
  }
  