.banner{
    height: auto;
    width: auto;
    background-image: url('../../../../public/img/banner.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.banner p{
    font-family: 'Orelega One', cursive;
    padding: 100px 20px;
    font-size: 64px;
    text-align: left;
    width: 50%;
    color: #FFFFFF;
    font-weight: 400;

}
.download button{
    font-family: 'Inter', sans-serif;
    background-color: #FF5B27;   
    padding: 5px;
    border-radius: 8px;
    border: 2px solid #FF5B27;
    color: #FFFFFF;
    width: 120px;
    height: 40px;
    padding: 5px;
    margin: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
.download {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    padding: 10px;
}
.values{
    text-align: left;
    margin: 0 20%;
    font-family: 'Inter', sans-serif;
    
}
.values p {
    padding: 15px 0;
    font-weight: 300;
}
.values h2{
    font-size: 18px;
    font-weight: 500;
}