.release-epi-button button{
    width: 227px;
    height: 44px;
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    color: #FFFFFF;
    border: none;
}
.container-release-epi{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 35%;
    
}
.release-epi {
    width: 807px;
    height: 430px;
    background-color: #F5F5F5;
    border-bottom: 2px solid #FD6625;
    border-radius: 2px;
    
}

@media screen and (min-width:1300px) {
    .release-epi {
        width: 1007px;
        height: 530px;        
    }


}
@media screen and (min-width: 1200px ) {
    .container-release-epi{
        padding-left: 30%;
        padding-top: 5%;
    }

}